.type-section {
  //margin-left: -$spacer-x;
  //margin-right: -$spacer-x;
  height: 100vh;
  position: relative;
  background-color: $gray-dark;
  background-image: url('http://d2edahx6g47lzn.cloudfront.net/wp-content/uploads/2015/06/021.jpg');
  background-size: cover;
  background-position: center center;


  h1, h2, h3, h4, h5 {
    margin: $auto;
    max-width: percentage(8 / $grid-columns);
    color: #fff;
    text-shadow: 0 0 5px rgba(#000, 0.8);

  }
  &:nth-of-type(n+2) {
    h2 {
      font-size: 2em;
    }
  }
  h1 + h2,
  h2 + h3,
  h3 + h4 {
    font-weight: 200;
  }
  .entry-content {
    @include make-container();
    margin: $auto;
    width:100%;

  }
  &.bottom {
    .entry-content {
      bottom:15%;
      position: absolute;
    }
  }

  &.center {
    text-align: center;
  }
  &.right {
    text-align: right;
    h1,h2,h3,h4 {
      margin-right: 0;
    }
    .entry-content {
      padding-right: 8%;
    }
  }
  &.format-video {
    overflow: hidden;
  }
  video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
  }
}