.header-navigation {
  background-color: rgba($gray-dark, 0.5);
  //background-color: rgba($gray-dark, 0);
  .dark {
    background-color: rgba($gray-dark, 0.5);
  }
  .admin-bar & {
    top: 32px;
  }
  //background-color: $gray-dark;

  .nav-link {
    //color: #fff;
  }
  .dropdown-menu {
    background-color: $gray-dark;
    .nav-item {
      float: none;
      margin-left: 0;
    }
    .nav-link {
      margin-left: 1rem;
    }
  }

}
