.content-wrap {
  background-color: #fff;
}
.site-content {
  @include make-container();
  margin-top: $navbar-height;
  background-color: #fff;
  color: $body-color;

  .home & {
    margin-top: 0;
  }

}