.social-navigation {
  //$selectors: ();
  @each $brand, $content in ($social-icons) {

    //$selectors: prepend($selectors, 'a[href*="#{$brand}"]');
    //$selectors: prepend($selectors, #{$brand});
    a[href*="#{$brand}"] {
      color: transparent;
      font-size: 1px;
      letter-spacing: -1px;
    }

    a[href*="#{$brand}"]:before {
      @extend .#{$fa-css-prefix};
      font-size: $font-size-base * 1.5;
      content: $content;
    }

  }

}