@function image-url($file) {
  @return url($image-path + '/' + $file);
}

@function prepend($list, $value) {
  @return join($value, $list);
}

@mixin set_social_content() {
  @each $brand, $content in ($social-icons) {
    a[href~="#{$brand}"]:before {
      content: $content;
    }
  }
}