$gray-dark: #373a3c;

$navbar-height: 54px;
$auto: auto;

// Font awesome settings
$fa-font-path: '../fonts/';
$fa-version: 4.5.0;
@import "font-awesome/scss/variables";

$social-icons: (
  facebook: $fa-var-facebook-f,
  twitter: $fa-var-twitter,
  youtube: $fa-var-youtube,
  instagram: $fa-var-instagram,
);


// Bootstrap settings
$body-bg: $gray-dark;
$brand-primary: #ee3524;
$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$enable-grid-classes: true;
$headings-font-weight: 700;
$font-size-h1: 3.5rem !default;
$font-size-h2: 3rem !default;
$font-size-h3: 2.75rem !default;
$font-size-h4: 2.5rem !default;
$font-size-h5: 2.25rem !default;
$font-size-h6: 1rem !default;

