.page {
  .site-content {
    .content-area:first-child:nth-last-child(2) {
      @include make-col();
      @include make-col-span(8);
    }
    .content-area + .widget-area {
      @include make-col();
      @include make-col-span(4);
    }
  }
}
